/* Swiper Slide */
.services-2-swiper .swiper-slide {
    text-align: center;
  }
  
  /* Service Item */
  .services-2 .service-item {
    width: 100%;
    text-align: center;
    word-wrap: break-word;
    transition: all 0.5s ease;
  }
  
  /* Image */
  .services-2 .img {
    height: 220px;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .services-2 .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.6s ease;
  }
  
  /* Details */
  .services-2 .details {
    background: color-mix(in srgb, var(--surface-color), transparent 5%);
    padding: 50px 30px;
    margin: -40px 30px 0 30px;
    position: relative;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 0 25px rgba(0,0,0,0.1);
  }
  
  /* Icon */
  .services-2 .details .icon {
    width: 72px;
    height: 72px;
    background: var(--accent-color);
    color: var(--contrast-color);
    border: 6px solid var(--contrast-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    position: absolute;
    top: -36px;
    left: calc(50% - 36px);
    transition: all 0.5s ease;
  }
  
  /* Hover */
  .services-2 .service-item:hover .details h3 { color: var(--accent-color); }
  .services-2 .service-item:hover .details .icon { background: var(--surface-color); border: 2px solid var(--accent-color);}
  .services-2 .service-item:hover .details .icon i { color: var(--accent-color); }
  .services-2 .service-item:hover .img img { transform: scale(1.1); }
  

  
  /* Bullets */
  .services-2-bullets { display: flex; justify-content: center; gap: 0.5rem; margin-top: 1rem; }
  .services-2-bullets .swiper-pagination-bullet { width: 12px; height: 12px; border-radius: 50%; background-color: color-mix(in srgb, var(--default-color), transparent 70%); opacity: 1; }
  .services-2-bullets .swiper-pagination-bullet-active { background-color: var(--accent-color); }
  
  .services-2 .btn-get-started {
    border: 2px solid var(--accent-color);
    font-family: var(--heading-font);
    font-weight: 500;
    display: inline-block;
    color: var(--contrast-color);          /* texto blanco */
    background-color: var(--accent-color); /* fondo accent color */
    font-size: 14px;
    padding: 10px 24px;
    border-radius: 12px;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  
  .services-2 .btn-get-started:hover {
    background-color: var(--light-background); /* fondo claro al pasar ratón */
    color: var(--accent-color);               /* texto accent color */
    transform: translateY(-2px);
  }
